-- Write a query to obtain the natural join between the tables, students and departments.
-- (Database: LIS)

select * from students natural join departments

-- Find details of those instructors of the Accounting department who have more salary
-- than at least one instructor of the Psychology department. (Database: University)

select * from instructor a where  a.dept_name = 'Accounting' and a.salary > 
any (select p.salary from instructor p where p.dept_name = 'Psychology')

-- Write a SQL statement to find out the manager’s date of birth(dob) of the team for
-- which “Shlok” plays. (Database: FLIS)

select dob from managers where team_id = (select team_id from players where name = 'Shlok')

In [6]:
import psycopg2

conn = None 
try:
    conn = psycopg2.connect(database= "FLIS" , user= "myuser" , 
                            password= "MYPASS" , host = '127.0.0.1',
                            port = "5432") 
    statement_1 = "select team_id from players where name = 'Shlok'"
    curr = conn.cursor()
    curr.execute(statement_1)
    result_1 =  curr.fetchmany()
    print(type(result_1), result_1 , type(result_1[0]))
    statement_2 = f"select dob from managers where team_id = '{result_1[0][0]}'"

    curr.execute(statement_2)
    result = curr.fetchone()
    print(result)
    

except Exception as e:
    print(e)
if conn is not None:
    conn.close()

<class 'list'> [('T0001',)] <class 'tuple'>
(datetime.date(1990, 8, 23),)

-- Write a SQL statement to find out match number(match num) played in the playground
-- “Emirates Stadium”. (Database: FLIS)


select match_num from matches where host_team_id = (select team_id from teams where playground = 'Emirates Stadium')

SELECT match_num
FROM matches
WHERE host_team_id = ANY (SELECT team_id
FROM teams
WHERE playground = 'Emirates Stadium')


-- Find the name, player id, date of birth and city of all players who played for team
-- ‘Rainbow’. (Database: FLIS)

select players.name , players.player_id , players.dob , teams.city from players  left join teams  on teams.team_id = players.team_id
where teams.name = 'Rainbow'

SELECT p.name, p.player_id, p.dob, t.city
FROM players AS p, teams AS t
WHERE p.team_id = t.team_id and t.name = 'Rainbow'

-- Find the name of the teams which belong to the same city as the team ‘Amigos’.
-- (Database: FLIS)

select * from teams t1 where t1.city = (select t2.city from teams t2 where t2.name = 'Amigos') and t1.name <> 'Amigos'

SELECT t2.name
FROM teams AS t1, teams AS t2
WHERE t1.name = 'Amigos'
AND t2.name <> 'Amigos'
AND t1.city = t2.city

-- Find the name of the department in which Gita Das is studying

select dept_name from student where name = 'Gibbs'

-- Find the name of the department in which Gita Das is studying

select departments.department_name from students natural join departments 
where students.student_fname = 'Gita' and students.student_lname= 'Das'