-- Write a SQL statement to find out the dates when one or more copies of the book having
-- the title “Learning with Python” has been issued. (Database: LIS)

select DISTINCT bi.doi from book_issue bi where bi.accession_no in 
(select bk.accession_no from book_copies as bk  where bk.isbn_no in 
(select bck.isbn_no from book_catalogue as bck where bck.title = 'Learning with Python'))

SELECT DISTINCT bi.doi
FROM book_catalogue AS bkcat
INNER JOIN book_copies AS bcp USING (isbn_no)
INNER JOIN book_issue AS bi USING (accession_no)
WHERE bkcat.title = 'Learning with Python'

-- Write a SQL statement to find the name and salary of the instructor(s) having the
-- max salary within that department whose avg salary is more than the max salary of
-- Psychology dept. (Database: University)
-- CTE to find the max salary in the 'Psychology' department
with psychology_max as (
    select max(salary) as max_psych_salary
    from instructor
    where dept_name = 'Psychology'
),

-- CTE to calculate the average salary for each department
dept_avg as (
    select dept_name, avg(salary) as avg_salary
    from instructor
    group by dept_name
),

-- CTE to find the max salary within each department
dept_max as (
    select dept_name, max(salary) as max_salary
    from instructor
    group by dept_name
)

-- Final query to find the instructors
select inst.name, inst.salary
from instructor inst
join dept_avg da on inst.dept_name = da.dept_name
join dept_max dm on inst.dept_name = dm.dept_name and inst.salary = dm.max_salary
join psychology_max pm on da.avg_salary > pm.max_psych_salary;

-- Write a SQL statement to find out the number of courses which have been taught in
-- Fall semester but never in Spring semester. (Database: University)

select count(*) from (select  f1.course_id from section f1 where f1.semester = 'Fall' 
except (select f2.course_id from section f2 where f2.semester= 'Spring')) as fall_course


SELECT COUNT(*)
FROM ((SELECT course_id
FROM section
WHERE semester = 'Fall')
EXCEPT
(SELECT course_id
FROM section
WHERE semester = 'Spring')) AS temp_table

-- Find the names of the fourth referees (fourth referee) and the match number of all
-- matches played on “2020-05-19”. (Database: FLIS)


with match_re as (select match_num , fourth_referee from match_referees where match_referees.match_num in (
select match_num from matches  where match_date = '2020-05-19'))
select match_re.match_num , referees.name  from match_re left join referees on match_re.fourth_referee = referees.referee_id

SELECT name, match_num
FROM referees
INNER JOIN match_referees
ON referees.referee_id = match_referees.fourth_referee
INNER JOIN matches USING (match_num)
WHERE match_date = '2020-05-19'